*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid #000;
}
.row{
    display: flex;

}
.square{
    height: 70px;
    width: 70px;
    position: relative;
}
span{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row-odd>div:nth-child(odd){
    background-color: bisque;
}
.row-odd>div:nth-child(even){
    background-color: burlywood;
}

.row-even>div:nth-child(even){
    background-color: bisque;
}
.row-even>div:nth-child(odd){
    background-color: burlywood;
}
.row>.white:hover{
    background-color: #fff;
}
.row>.black:hover{
    background-color: #000;
}

@media screen and (width<550px) {
    .container{
        border: 2px solid #000;
        margin: 10px;
    }
    .square{
        height: 40px;
        width: 40px;
        position: relative;
    }
    span{
        font-size: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    
}